

/* About start */
.section_counter {
  padding: 50px 0;
  text-align: center;
}
.with {
  width: 94%;
}
.txt {
  text-align: center;
  width: 60%;
  margin: auto;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 26px;
}
.txt p {
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  padding: 15px 0;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
}
.counter-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.counter-item {
  background: #ffffff;
  padding: 38px 0;
  text-align: center;
  border-radius: 6px;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateY(6rem);
      -ms-transform: translateY(6rem);
          transform: translateY(6rem);
  width: 20%;
  color: var(--txt-colorr);
}
.counter-item:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.counter-item .counter {
  padding-top: 5px;
  font-size: 50px;
  color: transparent;
  color: transparent;
  letter-spacing: 0.5rem;
  -webkit-text-stroke-width: 0.15rem;
  -moz-text-stroke-width: 0.15rem;
  -ms-text-stroke-width: 0.15rem;
  -o-text-stroke-width: 0.15rem;
  -webkit-text-stroke-color: black;
  -moz-text-stroke-color: black;
  -ms-text-stroke-color: black;
  -o-text-stroke-color: black;
}
@-webkit-keyframes slide-up {
  0% {
    -webkit-transform: translateY(6rem);
            transform: translateY(6rem);
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}
@keyframes slide-up {
  0% {
    -webkit-transform: translateY(6rem);
            transform: translateY(6rem);
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}
/* About end */
@media (max-width:880px){
  .counter-item {
    width: 22%;
  }
}
@media (max-width:750px){
  .counter-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
  .counter-item {
    width: 60%;
  }
}
@media (max-width:550px){
  .txt {    
    width: 95%;
    font-size: 23px;
  }
  .counter-item {
    width: 95%;
  }
}