
/* Advise start */
.main {
  width: 93%;
  text-align: center;
}
.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  list-style: none;
}
.cardd {
  background-color: var(--bg-color);
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
          box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  text-align: left;
}
.cardd:hover {
  -webkit-box-shadow: 0px 0px 3px 2px rgba(128, 128, 128, 0.17);
          box-shadow: 0px 0px 3px 2px rgba(128, 128, 128, 0.17);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.card_content {
  padding-top: 2rem;
}
.card_title {
  color: var(--txt-colorr);
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  padding: 0px 35px;
}
.card_text {
  padding: 0px 35px;
  color: #737373;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}
.card_image img {
  width: 100%;
  height: 155px;
}
/* Advise end */
@media (max-width:950px){
  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 16px;
  }
  .cardd {
    width: 60%;
  }
}
@media (max-width:550px){
  .cardd {
    width: 95%;
  }
  .card_image img {
    width: 100%;
    height: 165px;
  }
}
