
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* ================= BASE ==================== */
img {
  width: 100%;
  height: auto;
}
.bx {
  font-size: 2.5rem;
}

html {
  scroll-behavior: smooth;
}

.scrollToTop-btn {
  z-index: 999;
  position: fixed;
  background: crimson;
  color: #fff;
  width: 45px;
  height: 45px;
  right: 0;
  bottom: 10px;
  font-size: 22px;
  text-align: center;
  line-height: 45px;
  border-radius: 25px;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.348);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.348);
}
.scrollToTop-btn.active {
  right: 20px;
  opacity: 1;
}

/* -- BODY -- */
body {
  font-family: "Montserrat";
  background: rgb(249, 249, 250);
}

:root {
  --bg-color: #fafafa;
  --bg-colorr: black;
  --txt-color: white;
  --txt-colorr: black;
  --color-orange: #ffa62b;
  --color-blu: #00a0c1;
}

.scroll-indicator {
  height: 6px;
  width: calc(100% - 0.1em);
  position: fixed;
  bottom: 0;
  left: 0.1em;
  border-radius: 3px;
  z-index: 999;
}

.scroll-indicator .progress {
  height: 100%;
  width: 0;
  border-radius: 3px;
  /* https://www.grabient.com/ */
  background: -o-linear-gradient(60deg, #21d4fd, #b721ff);
  background: linear-gradient(30deg, #21d4fd, #b721ff);
  -webkit-transition: width 0.1s;
  -o-transition: width 0.1s;
  transition: width 0.1s;
}


/* .inner-cursor {
    position: fixed;
    left: 10px;
    width: 8px;
    height: 8px;
    transform: translate(-50%, -50%);
    background: white;
    mix-blend-mode: difference;
    border-radius: 70%;
    pointer-events: none;
    transition: width 0.5s height 0.5s;
  }
  
  .outer-cursor {
    position: fixed;
    left: 10px;
    width: 30px;
    height: 30px;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    mix-blend-mode: difference;
    border-radius: 30%;
    pointer-events: 0.1ms;
    transition: 0.1s;
  } */