/* Contact start */
.f {
  background: #f3f3f3;
  width: 100%;
  padding: 100px 0;
  padding-bottom: 170px;
}
.card2 {
  position: relative;
  background: var(--bg-color);
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  overflow: hidden;
  text-align: center;
  width: 32%;
  padding: 33px 37px;
}
.card2:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: calc(-100% + 3px);
  width: 100%;
  height: 100%;
  background: #252b42;
  z-index: 1;
  -webkit-transition: 0.9s;
  -o-transition: 0.9s;
  transition: 0.9s;
}
.card2:hover:before {
  bottom: 0;
}
.content {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  position: relative;
  color: var(--txt-colorr);
  z-index: 2;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.content p {
  color: #737373;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.2px;
}
.content button {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: var(--color-orange);
  padding: 7px 25px;
  background: transparent;
  border: 1px solid var(--color-orange);
  border-radius: 4px;
}
.card2:hover button {
  border: 1px solid var(--txt-color);
  color: var(--txt-color);
}
.card2:hover .content {
  color: var(--txt-color);
}
.card2 p {
  line-height: 30px;
}
.card2:hover p {
  color: var(--txt-color);
  -webkit-transition: 0.9s;
  -o-transition: 0.9s;
  transition: 0.9s;
}
.card2:hover path {
  fill: var(--txt-color);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
/* Contact end */

@media (max-width:872px){
  .card2 {
    width: 30%;
  }
}
@media (max-width:800px){
  .card2 {
    width: 60%;
  }
}
@media (max-width:550px){
  
  .card2 {
    width: 95%;
  }
}