
/* Footer Start */
.bac-inf {
  background: #16697a;
  padding: 50px 0 87px;
}
.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.info h5 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: var(--txt-color);
  margin-bottom: 20px;
}
.link {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: var(--txt-color);
  margin-bottom: 10px;
}
.comp,
.lega,
.feat,
.res,
.adre {
  width: 20%;
}
.adre img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.adre-ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/* Footer End */

.fl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 93%;
  padding: 25px 0;
  color: #737373;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
}
.imgg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 17px;
}
.fl img {
  width: 20px;
  height: 20px;
}

@media (max-width: 900px) {
  .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    gap: 25px;
  }
  .comp,
  .lega,
  .feat,
  .res,
  .adre {
    width: 100%;
  }
  .adre {
    display: none;
  }
}
@media (max-width:650px) {
  .fl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .imgg {
    padding-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
