
/*  Header start*/
header {
  background: url(../img/background.svg);
  width: 100%;
  background: var(--bg-color);
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 27px 3%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
header.sticky {
  background: var(--bg-color);
  -webkit-box-shadow: 0px 5px 10px #aaa8a895;
          box-shadow: 0px 5px 10px #aaa8a895;
  padding: 16px 3%;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}
.flex-nav-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  z-index: 999;
}
.company-logo {
  font-size: 1rem;
  background: -webkit-linear-gradient(
    120deg,
    var(--primary-color-alt),
    var(--primary-color)
  );
  -webkit-text-fill-color: transparent;
}
.nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav-item {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 24px;
  margin: 0 1rem;
}
.nav-link {
  font-size: 0.9rem;
  letter-spacing: 0.03rem;
  position: relative;
  background: #868383;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-link:hover {
  font-size: 0.9rem;
  letter-spacing: 0.03rem;
  position: relative;
  background: var(--bg-colorr);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-link::before {
  content: "";
  background: var(--bg-colorr);
  width: 100%;
  height: 0.01rem;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  -o-transition: transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}
.nav-link:hover::before {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
}
.menu-toggle {
  display: none;
}
.bx-menu,
.bx-x {
  cursor: pointer;
  color: var(--txt-colorr);
  display: none !important;
}
@media (max-width: 890px) {
  .nav-btn {
    display: none;
  }
  /* ================= HEADER ================ */
  header {
    padding: 0.5rem 1rem;
  }
  .navbar {
    background-color: var(--bg-colorr);
    position: absolute;
    top: 3.5rem;
    right: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 50px;
    -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: bottom;
        -ms-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transition: -webkit-transform 500ms;
    transition: -webkit-transform 500ms;
    -o-transition: transform 500ms;
    transition: transform 500ms;
    transition: transform 500ms, -webkit-transform 500ms;
  }
  .nav-link:hover {
    font-size: 0.9rem;
    letter-spacing: 0.03rem;
    position: relative;
    background: var(--txt-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .show-navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: top;
        -ms-transform-origin: top;
            transform-origin: top;
    -webkit-transition: -webkit-transform 300ms;
    transition: -webkit-transform 300ms;
    -o-transition: transform 300ms;
    transition: transform 300ms;
    transition: transform 300ms, -webkit-transform 300ms;
  }
  .nav-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-item {
    margin: 0.5rem 0;
  }
  .menu-toggle {
    display: block;
  }
  .bx-menu {
    display: block !important;
  }
  .show-bx {
    display: block !important;
  }
  .hide-bx {
    display: none !important;
  }
}
/* Header end */