
/* Home-2 start */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  width: 93%;
}
.card {
  position: relative;
  top: -100px;
  background: var(--bg-color);
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  overflow: hidden;
  width: 30%;
  padding: 33px 25px;
}
.card:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: calc(-100% + 3px);
  width: 100%;
  height: 100%;
  background: var(--color-blu);
  z-index: 1;
  -webkit-transition: 0.9s;
  -o-transition: 0.9s;
  transition: 0.9s;
}
.card:hover:before {
  bottom: 0;
}
.content {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  position: relative;
  color: var(--txt-colorr);
  z-index: 2;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.content p {
  color: #737373;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.2px;
}
.card:hover .content {
  color: var(--txt-color);
}
.card:hover p {
  color: var(--txt-color);
  -webkit-transition: 0.9s;
  -o-transition: 0.9s;
  transition: 0.9s;
}
.card:hover path {
  fill: var(--txt-color);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
/* Home-2 end */

@media (max-width:872px){
  .flex {
    gap: 5px;
  }
  .card {
    width: 30%;
  }
}
@media (max-width:800px){
  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .card {
    width: 60%;
  }
}
@media (max-width:550px){
  .flex {
    gap: 25px;
  }
  .card {
    width: 95%;
  }
}