
/* Home start */
.home {
  background: url(../img/cover.png);
  background-size: cover;
  background-position: 90% 90%;
  background-position: center;
  width: 100%;
}
.txt-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 104px 0px 192px;
  width: 94%;
}
.home-text {
  width: 55%;
}
.home-text h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.2px;
}
.home-text p {
  width: 55%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #737373;
}
.show-btn {
  padding: 12px 34px;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.9px;
  font-weight: 500;
  color: var(--color-blu);
  font-weight: 700;
  background: transparent;
  border: none;
  border-radius: 45px;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: 1px solid var(--color-blu);
  cursor: pointer;
  outline: none;
}
.show-btn:hover {
  padding: 12px 34px;
  background-color: var(--color-orange);
  border: 1px solid var(--color-orange);
  -webkit-box-shadow: 0px 15px 20px #ffa72b5d;
          box-shadow: 0px 15px 20px #ffa72b5d;
  color: rgb(240, 240, 240);
  -webkit-transform: translateY(-6px);
      -ms-transform: translateY(-6px);
          transform: translateY(-6px);
}

/* Home end */

@media (max-width:800px){
  .home-text {
    width: 95%;
  }
}
@media (max-width:500px){
  .home-text{
    text-align: center;
  }
  .home-text h1 {
    font-size: 40px;
    line-height: 50px;
  }
  .home-text p {
    width: 100%;
  }
}