
/* Inputs start */
.inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #faf9f9;
}
.inp {
  width: 93%;
}
.inputs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 100px 0;
}
.inputs input,
select {
  width: 100%;
  height: 50px;
  padding: 12px 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  letter-spacing: 0.01em;
  color: #828282;
  border: 1px solid #c7c7c7;
  margin-bottom: 20px;
  background: transparent;
  outline: none;
}
.inputs textarea {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 156px;
  padding: 12px 20px;
  font-size: 1rem;
  border: 1px solid #c7c7c7;
  background: transparent;
  resize: none;
  color: #828282;
  margin: 20px 0;
  outline: none;
}
.inputs a {
  margin-top: 40px;
}
/* Inputs end */