
/* logo-subs start */
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0;
}
.logo img {
  margin-top: 100px;
  width: 88%;
}
.Subs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #16697a;
  border-radius: 2px;
  padding: 30px 50px;
  margin-bottom: 85px;
}
.Subs h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: var(--txt-color);
}
.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.subscribe input {
  width: 330px;
  padding: 15px 20px;
  border: none;
  border-left: 1px solid #e6e6e6;
  border-radius: 5px 0 0 5px;
}
.subscribe a {
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: var(--txt-color);
  text-align: center;
  padding: 15px 22px;
  background: var(--color-orange);
  border: 1px solid #e6e6e6;
  border-radius: 0px 5px 5px 0px;
  border: none;
}
/* logo-subs end */

@media (max-width:850px){
  .logo img {
    margin-top: 100px;
    width: 60%;
  }
  .Subs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .Subs h1 {
    font-size: 19px;
  }
  .subscribe input {
    width: 250px;
  }
}
@media (max-width:550px){
  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logo img {
    width: 80%;
  }
}