
/* service */

.serviceup{
	margin-top: 100px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.serviceup h1{
    text-align: center;
	font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: var(--grey);
}

.serviceup p{
	width: 50%;
	font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--lightgrey);
}

.servicedown{
    margin-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 150px;
}

.servicesdownleft img{
    width: 100%;
}


.servicesdownright h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: var(--grey);
}

.servicesdownright p{
    margin-bottom: 50px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: var(--lightgrey);
}
.fox{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
}
.foxp h1{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;    
    letter-spacing: 0.1px;
    color: var(--grey);
    margin: 0 0 5px 20px;
    padding: 0;
}

.foxp p{
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;    
    letter-spacing: 0.2px;
    color: var(--lightgrey);
    margin: 0 0 5px 20px;
    padding: 0;
}

@media (max-width: 1170px) {
    .serviceup{
       display: none;
    }
    .servicedown{
        display: none;
    }
}

@media(max-width:999px){
	.servicedown{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.servicesdownright{
		width: 100%;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
	}
	.servicesdownright p {
		text-align: center;
	}
	.servicesdownright h2{
		text-align: center;
	}
}

@media(min-width:1000px){
	.servicesdownright{
		margin-left: 100px;
		width: 35%;
	}
}